*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: normal;
  font-style: oblique;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: -1px -1px #000;

  background: url(/src/helpers/images/back-image.jpeg) no-repeat center top
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
